/* 
14px = 0.875rem
20px = 1.25rem
24px = 1.5rem
color : #AAAAAA,#FF0000,#000;

PC = 768 ~ 1920
Tablet = 320~ 767
*/

main {
    /* background-color:lightgoldenrodyellow; */
    max-width: 1200px;
    min-width: 768px;
    height: 150vh;
    margin:0 auto;
}
main .top {display:flex; padding-top:75px;}
/* --------------------------contents right 시작 */
main .top .contents_right {margin-right:41px;}
main .top .contents_right h1 {
    margin:0 0 11px 0;
    font-size:1.25rem; font-weight:600;
}
main .top .contents_right .big_thum {
    position:relative;
    width: 460px;height:572px;
    /* background-color: yellow; */
}
main .top .contents_right .big_thum a {}
main .top .contents_right .big_thum .item {
    width: 460px;height:572px;
    display: block;
    background-image: url(/images/001_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
main .top .contents_right .big_thum .item img {width: 100%;}
main .top .contents_right .big_thum .favorite {
    width:32px; height: 32px;
    position: absolute; top:20px;right:20px;
}
main .top .contents_right .big_thum .favorite img {}
/* ------------------------------contents left 시작 */
main .top .contents_left {
    height: 572px; width: 699px;
    /* margin-top:110px; */
    /* background-color: wheat; */
}
main .top .contents_left > h2 {font-size: 1.5rem; font-weight: 600; margin:23px 0 9px 0;}
main .top .contents_left span {font-size: 0.875rem;color:#aaa;}
main .top .contents_left .content_wrap {
    display: flex;
    justify-content: space-between;
    margin-top:27px;
}
main .top .contents_left .content_wrap li {}
main .top .contents_left .content_wrap li .content {}
main .top .contents_left .content_wrap li .content li {
    width:223px; height: 338px;
    margin-top:134px;
    /* background-color: yellow; */
    position:relative;
}
main .top .contents_left .content_wrap li .content li a {font-size: 0.875rem;}
main .top .contents_left .content_wrap li .content li a img {width: 100%;}
main .top .contents_left .content_wrap li .content li a .title {padding-top:15px;
    font-weight: 600;}
main .top .contents_left .content_wrap li .content li a .color {
    width: 223px;
    color:#aaa;padding:5px 0;
}
main .top .contents_left .content_wrap li .content li a .price {display: flex;}
main .top .contents_left .content_wrap li .content li a .price .sale {
    color:#FF0000;font-weight: 600;}
main .top .contents_left .content_wrap li .content li a .price .price {
    margin-left:19px;
    font-weight: 600;}
main .top .contents_left .content_wrap li .content li .love {
    width:20px; height: 20px;
    display: inline-block;
    position:absolute; bottom:4px; right:0;
}
main .top .contents_left .content_wrap li .content li .love img {width: 100%;}
/* -------------------상품진열 상단 끝 */
/* -------------------상품진열 하단 시작 */
main .bottom {}
main .bottom .bottom_title {
    display: flex;
    justify-content: space-between;
    margin:61px 0 14px 0;
}
main .bottom .bottom_title h2 {font-size: 1.25rem; font-weight: 600;}
main .bottom .bottom_title a {color:#aaa;}
main .bottom .content_wrap {
    display: flex;
    justify-content: space-between;
}
main .bottom .content_wrap li {}
main .bottom .content_wrap li .content {
    width:195px; height:338px;
}
main .bottom .content_wrap li .content li {
    /* background-color: yellow; */
    position:relative;
}
main .bottom .content_wrap li .content li a {font-size: 0.875rem;}
main .bottom .content_wrap li .content li a img {width: 100%;}
main .bottom .content_wrap li .content li a .title {padding-top:15px; font-weight: 600;}
main .bottom .content_wrap li .content li a .color {
    color:#aaa;padding:5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
main .bottom .content_wrap li .content li a .price {display: flex;}
main .bottom .content_wrap li .content li a .price .sale {color:#FF0000;font-weight: 600;}
main .bottom .content_wrap li .content li a .price .price {
    margin-left:19px;
    font-weight: 600;
}
main .bottom .content_wrap li .content li .love {
    width:20px; height: 20px;
    display: inline-block;
    position:absolute; bottom: 35px; right:0;
}
main .bottom .content_wrap li .content li .love img {width: 100%;}
/* -------------------상품진열 하단 끝 */
